


.container-fluid{
    max-width: 100%;
    height: 500px;
    background-image: url(https://img.freepik.com/free-photo/closeup-shot-pink-rose-with-blurred-tables_181624-3939.jpg?t=st=1652970291~exp=1652970891~hmac=5cd89905607d678bd00ea31ff5ab7b8406811f4153997651cc0696927a7236d8&w=996);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

